name: React CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

steps:
  -name: Checkout code
   uses: actions/checkout@v6

  -name: setup Node.js
   uses: actions/setup-node@v6
   with:
    node-version: 24

  -name: install dependencies
   run: npm install

  -name: Build App
   run: npm run build

  -name: Run tests
   run: npm run test